@theme {
  --scrollbar-track-light: var(--color-gray-100);
  --scrollbar-thumb-light: var(--color-gray-300);
  --scrollbar-light: var(--scrollbar-thumb-light) var(--scrollbar-track-light);
}

@utility style-white {
  &:not(.dark) {
    .aside {
      @apply bg-white;
    }
    .aside-scrollbar {
      @apply scrollbar-styled-light;
    }
    .aside-menu-item {
      @apply text-blue-600 hover:text-black;
    }
    .aside-menu-item-active {
      @apply text-black;
    }
    .aside-menu-dropdown {
      @apply bg-gray-100/75;
    }
    .navbar-item-label {
      @apply text-blue-600;
    }
    .navbar-item-label-hover {
      @apply hover:text-black;
    }
    .navbar-item-label-active {
      @apply text-black;
    }
    .overlay {
      @apply from-white via-gray-100 to-white;
    }
  }
}
