html,  #aside {
  scrollbar-width: thin;
}

html::-webkit-scrollbar, #aside::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb, #aside::-webkit-scrollbar-thumb {
  @apply rounded;
}

html {
  @apply overflow-auto;
  scrollbar-color: #9ca3af #e5e7eb;
}

html::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

html::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
}

html::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

html.dark {
  scrollbar-color: #374151 #111827;
}

html.dark::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

html.dark::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

html.dark::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

.dark #aside {
  scrollbar-color: #374151 #111827;
}

.dark #aside::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

.dark #aside::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}
