@import './tailwind/_base.css';
@import './tailwind/_components.css';
@import './tailwind/_utilities.css';

@import './_checkbox-radio-switch.css';
@import './_progress.css';
@import './_scrollbars.css';
@import './_table.css';

@import './styles/_basic.css';
@import './styles/_white.css';

@config '../../tailwind.config.js';
